<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <h2>Update</h2>
        <form class="form-horizontal" method="POST" action="/update">
            <div class="form-group">
                <label for="ma">Mã Sản Phẩm :</label>
                <input type="text" class="form-control"  id="" placeholder="" value="<%=data.Item.MaSanPham%>" name="masanpham">
              </div>
            <div class="form-group">
              <label for="ten">Tên Sản Phẩm :</label>
              <input type="text" class="form-control" id="" placeholder="<%=data.Item.TenSanPham%>" name="tensanpham">
            </div>
            <div class="form-group">
                <label for="soluong">Số Lượng :</label>
                <input type="number" class="form-control" id="" placeholder="<%=data.Item.SoLuong%>" name="soluong">
              </div>
           
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</body>

</html>